# Movies Tonight Part 3: SQL DML

In [2]:
%load_ext sql
%sql sqlite:///Movies.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @Movies.db'

1. **Load the `DATASET.csv` file into the `Movies.db` database.**  
    - Import the CSV file to create a new table called `DATASET`. Follow the example [here](http://www.sqlitetutorial.net/sqlite-import-csv/).
    - Use a [`PRAGMA table-info` pseudo-query](https://www.sqlite.org/pragma.html#pragma_table_info) to inspect the design of the new table. [How are we going to handle dates](https://www.sqlite.org/datatype3.html)?

In [6]:
%%sql
SELECT * FROM DATASET LIMIT 10;
PRAGMA table_info(MOVIES);

 * sqlite:///Movies.db
Done.
Done.

[(0, 'MID', 'INTEGER', 0, None, 1),
 (1, 'TITLE', 'TEXT', 1, None, 0),
 (2, 'RATING', 'TEXT', 0, None, 0)]

2. **Populate the tables with data.**  

    - Use `INSERT ... SELECT ...` queries to extract data from `DATASET` for each table of your other tables. 
    - Start with the strong entities before moving on to the weak ones. Be sure to always select distinct     values. 
    - Foreign Keys get special treatment. You will have to use JOINs to pick up the PKs from the other side of the relationships. (As in Part 1, use the fact that movie names, theater names, and people names are always unique in our source data. That way you can use then for the JOIN columns. 
    - If you have to start over, then rerun your DDL queries from Part 2.

In [39]:
%%sql
DELETE FROM MOVIES; 
INSERT INTO MOVIES (TITLE, RATING)
    SELECT DISTINCT MTitle, Rating FROM DATASET;
SELECT * FROM MOVIES;

DELETE FROM THEATERS;
INSERT INTO THEATERS (Name, Location, Phone)
    SELECT DISTINCT TName, Location, Phone 
FROM DATASET;
SELECT * FROM THEATERS;

DELETE FROM ARTISTS;
INSERT INTO ARTISTS(Name)
    SELECT DISTINCT Cname 
FROM DATASET;
SELECT * FROM ARTISTS;

DELETE FROM SHOWS;
INSERT INTO SHOWS (ShowTime, MID, TID)
    SELECT DISTINCT DATASET.ShowTime, MOVIES.MID, THEATERS.TID
    FROM DATASET
        JOIN MOVIES ON (MOVIES.TITLE = DATASET.MTitle)
        JOIN THEATERS ON (THEATERS.NAME = DATASET.TName);
SELECT SHOWTIME, TITLE, NAME 
FROM SHOWS 
JOIN MOVIES USING (MID) 
JOIN THEATERS USING (TID);

DELETE FROM CREDITS;
INSERT INTO CREDITS (CCODE, AID, MID)
    SELECT DISTINCT CCode, AID, MID
    FROM DATASET
        JOIN ARTISTS ON (ARTISTS.NAME = DATASET.CName)
        JOIN MOVIES ON (MOVIES.TITLE = DATASET.MTitle);
SELECT * FROM CREDITS;

 * sqlite:///Movies.db
23 rows affected.
23 rows affected.
Done.
9 rows affected.
9 rows affected.
Done.
153 rows affected.
153 rows affected.
Done.
131 rows affected.
131 rows affected.
Done.
162 rows affected.
162 rows affected.
Done.

[(1, 'A', 1, 1),
 (2, 'A', 1, 2),
 (3, 'A', 1, 3),
 (4, 'A', 1, 4),
 (5, 'A', 1, 5),
 (6, 'A', 1, 6),
 (7, 'A', 1, 7),
 (8, 'A', 1, 8),
 (9, 'D', 1, 9),
 (10, 'A', 2, 10),
 (11, 'A', 2, 11),
 (12, 'A', 2, 12),
 (13, 'A', 2, 13),
 (14, 'A', 2, 14),
 (15, 'A', 2, 15),
 (16, 'A', 2, 16),
 (17, 'A', 2, 17),
 (18, 'D', 2, 18),
 (19, 'A', 3, 19),
 (20, 'A', 3, 20),
 (21, 'A', 3, 21),
 (22, 'A', 3, 22),
 (23, 'A', 3, 23),
 (24, 'A', 3, 24),
 (25, 'A', 3, 25),
 (26, 'A', 3, 26),
 (27, 'A', 3, 27),
 (28, 'A', 3, 28),
 (29, 'A', 3, 29),
 (30, 'D', 3, 30),
 (31, 'A', 4, 31),
 (32, 'A', 4, 32),
 (33, 'A', 4, 33),
 (34, 'A', 4, 34),
 (35, 'A', 4, 35),
 (36, 'D', 4, 35),
 (37, 'A', 5, 36),
 (38, 'A', 5, 37),
 (39, 'A', 5, 38),
 (40, 'A', 5, 39),
 (41, 'A', 5, 40),
 (42, 'A', 5, 41),
 (43, 'A', 5, 42),
 (44, 'D', 5, 43),
 (45, 'A', 6, 44),
 (46, 'A', 6, 45),
 (47, 'A', 6, 46),
 (48, 'D', 6, 47),
 (49, 'A', 7, 48),
 (50, 'A', 7, 49),
 (51, 'A', 7, 50),
 (52, 'A', 7, 51),
 (53, 'D', 7, 52),
 (54, 'A', 8, 53),
 (55, 'A', 8, 54),
 (56, 'A', 8, 55),
 (57, 'A', 8, 56),
 (58, 'A', 8, 57),
 (59, 'A', 8, 58),
 (60, 'D', 8, 59),
 (61, 'A', 9, 60),
 (62, 'A', 9, 61),
 (63, 'A', 9, 62),
 (64, 'A', 9, 63),
 (65, 'D', 9, 60),
 (66, 'A', 10, 64),
 (67, 'A', 10, 65),
 (68, 'A', 10, 66),
 (69, 'A', 10, 67),
 (70, 'A', 10, 68),
 (71, 'D', 10, 69),
 (72, 'A', 11, 70),
 (73, 'A', 11, 71),
 (74, 'A', 11, 72),
 (75, 'A', 11, 73),
 (76, 'A', 11, 74),
 (77, 'A', 11, 75),
 (78, 'A', 11, 76),
 (79, 'A', 11, 77),
 (80, 'A', 11, 78),
 (81, 'A', 11, 79),
 (82, 'A', 11, 80),
 (83, 'A', 11, 81),
 (84, 'D', 11, 82),
 (85, 'A', 12, 53),
 (86, 'A', 12, 83),
 (87, 'A', 12, 84),
 (88, 'A', 12, 85),
 (89, 'D', 12, 86),
 (90, 'A', 13, 87),
 (91, 'A', 13, 88),
 (92, 'A', 13, 89),
 (93, 'A', 13, 90),
 (94, 'A', 13, 91),
 (95, 'D', 13, 92),
 (96, 'A', 14, 93),
 (97, 'A', 14, 94),
 (98, 'A', 14, 95),
 (99, 'A', 14, 96),
 (100, 'A', 14, 97),
 (101, 'D', 14, 98),
 (102, 'A', 15, 99),
 (103, 'A', 15, 100),
 (104, 'A', 15, 101),
 (105, 'A', 15, 102),
 (106, 'A', 15, 103),
 (107, 'A', 15, 104),
 (108, 'D', 15, 105),
 (109, 'A', 16, 106),
 (110, 'A', 16, 107),
 (111, 'A', 16, 108),
 (112, 'A', 16, 77),
 (113, 'A', 16, 109),
 (114, 'A', 16, 110),
 (115, 'D', 16, 106),
 (116, 'D', 16, 109),
 (117, 'A', 17, 111),
 (118, 'A', 17, 112),
 (119, 'A', 17, 113),
 (120, 'D', 17, 114),
 (121, 'A', 18, 115),
 (122, 'A', 18, 116),
 (123, 'A', 18, 117),
 (124, 'A', 18, 118),
 (125, 'A', 18, 119),
 (126, 'A', 18, 120),
 (127, 'D', 18, 121),
 (128, 'A', 19, 122),
 (129, 'A', 19, 123),
 (130, 'A', 19, 124),
 (131, 'A', 19, 125),
 (132, 'D', 19, 126),
 (133, 'A', 20, 127),
 (134, 'A', 20, 117),
 (135, 'A', 20, 128),
 (136, 'A', 20, 129),
 (137, 'A', 20, 130),
 (138, 'A', 20, 28),
 (139, 'D', 20, 131),
 (140, 'A', 21, 132),
 (141, 'A', 21, 100),
 (142, 'A', 21, 133),
 (143, 'A', 21, 134),
 (144, 'A', 21, 135),
 (145, 'D', 21, 136),
 (146, 'A', 22, 137),
 (147, 'A', 22, 138),
 (148, 'A', 22, 139),
 (149, 'A', 22, 140),
 (150, 'A', 22, 141),
 (151, 'A', 22, 142),
 (152, 'A', 22, 143),
 (153, 'A', 22, 144),
 (154, 'A', 22, 145),
 (155, 'A', 22, 146),
 (156, 'D', 22, 147),
 (157, 'A', 4, 148),
 (158, 'A', 23, 149),
 (159, 'A', 23, 150),
 (160, 'A', 23, 151),
 (161, 'A', 23, 152),
 (162, 'D', 23, 153)]

3. **Check your work.**  
There are 9 theaters, 23 movies, 152 artists, 131 shows, and 161 credits.

In [ ]:
YOUR CODE HERE

4. **Now check the source data.**  
There are actually 13 duplicate rows in the original source data! Can you spot them? Write a SQL query that counts how many times each (MTitle, TName, Showtime, CCode, and CName) appears. Which ones appear more than once?

In [ ]:
YOUR CODE HERE

5. **Drop the `DATASET` table.**  
We don't need it anymore.

6. **Save, commit, and push your work to GitHub.**  
Use the commit summary comment "Completed Part 3".